/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	
	
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin:0 0 0 0;
}
/* nav bar*/
header{
	display:flex;
	align-items: center;
	justify-content: center;
}
nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	overflow: hidden;
  background-color: rgb(144, 196, 255);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 90%; /* Full width */
}

.links{
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
}

header nav a{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	width:100%;
	color:gray;
	text-decoration:none;
	
}

header nav a:hover{
	color:rgb(144, 196, 255);
	background-color: rgb(138, 138, 138);
	text-transform:uppercase;
}


/*the innovation section*/

.first{
	display:flex;
	justify-content:space-around;
	align-items: center;
	width:100%;
	height:45vw;
}

.bigHeader{
	display:flex;
	flex-direction:column;
	align-items:center;
	height:30vw;
	font-size:7vw ;

}

.get{
	text-align:center;
	border: 1px solid gray;
	font-size: 2vw;
	width: 45%;
}


/*draws  border that doesnt reach the edge of the pages*/
#bottomLine{
	width:90%;
	margin:auto;
	border-bottom:1px solid gray;
}

/*features and about*/

.second{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	width:100%;
	height:13vw;
}

.second div{
	width: 41%;
	height: 10vw;
	display:flex;
	flex-direction:column;
}


/*image in middle of page*/
.pic{
	margin:0;
	display: flex;
	justify-content:space-evenly;
	align-items:center;
	width: 100%;
	height: 22vw;
	
}

/*services section*/
.third{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	width:100%;
	height:15vw;
}

.third div{
	width:25%;
	
}

#topLine{
	width:90%;
	margin:auto;
	border-top:1px solid gray;
}

address{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	height:15vw;
	padding-left:10.5%;
}

footer{
	display:flex;
	justify-content: center;
	align-items: flex-end;
    height: 6vw;
}

/* start of services page*/

.services{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 32vw;
}

.services div{
	width:90%
}

.services h1{
	font-size:2vw;
}

.services-header-img{
	width: 100%;
}
/* gallery of servies*/
.gallery{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
	height:75vw;
}

.gallery div{
	width: 47%;
	height: 17vw;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 2vw;
	background-color: rgba(76, 76, 76, 0.137);
	border:1px solid black;
}

.gallery .button{
	height: 3vw;
    width: 9vw;
    padding: 3% 2%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.facts{
	display:flex;
	justify-content: space-between;
	height: 38vw;
	align-items: center;
}

.facts div{
	width: 43%;
}
.facts div img{
	width:100%
}
.thingList{
	display:flex;
	flex-direction: column;
	width:40%;
	justify-content: space-evenly;
	height: 38vw;
	
}

ul{
	display:flex;
	flex-direction: column;
	height:10vw;
	justify-content: space-evenly;
	list-style-type: square;
	padding-left:4% ;
}


